<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link href="{{ url_for('static', filename='img/favicon.png') }}" rel="shortcut icon">
    <link href="{{ url_for('static', filename='apps/vendor/normalize.css') }}" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{{ url_for('static', filename='css/ie10-viewport-bug-workaround.css') }}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/jumbotron-narrow.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/turing-books.css') }}?v={{ version }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/stack-ac-cn.css') }}?v={{ version }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/ie-emulation-modes-warning.js') }}"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{{ url_for('static', filename='js/html5shiv.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/respond.min.js') }}"></script>
    <![endif]-->
</head>
<body>
    <div id="content">
    </div>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ url_for('static', filename='js/ie10-viewport-bug-workaround.js') }}"></script>
    <script src="{{ url_for('static', filename='apps/vendor/jquery.js') }}"></script>   
    <script src="{{ url_for('static', filename='apps/vendor/jquery.lazyload.js') }}"></script>
    <script src="{{ url_for('static', filename='apps/vendor/underscore.js') }}"></script>
    <script src="{{ url_for('static', filename='apps/vendor/backbone.js') }}"></script>
    <script id="config" type="text/json">
        {
            "models": {},
            "collections": {},
            "views": {},
            "router": null,
            "version": "0.1.2"
        }
    </script>
    <script src="{{ url_for('static', filename='apps/app.js') }}?v={{ version }}"></script>
    <script src="{{ url_for('static', filename='apps/models.js') }}?v={{ version }}"></script>
    <script src="{{ url_for('static', filename='apps/views.js') }}?v={{ version }}"></script>
    <script src="{{ url_for('static', filename='apps/router.js') }}?v={{ version }}"></script>
</body>
</html>
